@charset "UTF-8";

/*@import url("c.css");*/

@namespace xml url("http://www.w3.org/2000/svg");

@supports (display: flex) {
	div {
		display: flex;
	}
}

@media screen and (min-width: 1200px) {
	.hidden-lg { display: none !important; }
}

@keyframes identifier {
	0% {

	}
}

@font-face {
	font-family: AA;
	src: url(aa);
}

@page {
	margin: 5px;
}

#id {

}

.class {

}

[data-attr] {
	content: attr(hello)
}

#id.class > .class {

}

body {
	color: red;
	background-image: url("./baidu.png");
}

body::before, div {
	content: "9999" !important;
}